:root{
    --clr-neon: #14f7ff;
    --clr-bg: #001414;
    --font-size: 1.5rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}
.neon{
    font-size: var(--font-size);
    font-weight: 100;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: var(--clr-neon) 0.075em solid;
    padding: 1em 1.5em;
    border-radius: 2em;
    text-shadow: 
        0 0 .20em #fff7,
        0 0 .30em var(--clr-neon);
    box-shadow:
        inset 0 0 .5em var(--clr-neon),
            0 0 .5em var(--clr-neon);
}
img{
    border-radius: 30px;
}
.neon::before{
    content: "";
    position: absolute;
    top: 140%;
    left: 0;
    filter: blur(00.5em);
    opacity: 0.6;
    transition: opacity 100ms linear;
}

.neon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--clr-neon);
    box-shadow: 0 0 2em var(--clr-neon);
    border-radius: 2em;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon:hover::after{
    opacity: 1;
}
.neon:hover, .neon:focus{
    color: #001414;
}
.neon:hover::before{
    opacity: 0.8;
}
